# Dependencies
node_modules/
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual Environments
.venv/
venv/
ENV/
env/

# Build artifacts
dist/
build/
*.egg-info/

# Environment variables & DB
.env
.env.local
frontend/.env
*.sqlite
*.sqlite3
*.db


# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
