# Dependencies
node_modules/
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual Environments
.venv/
venv/
ENV/
env/

# Build artifacts
dist/
build/
*.egg-info/

# Environment variables & DB
.env
.env.local
*.sqlite
*.sqlite3

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
